.halogen {
  background-color: #33b03c;
}
.noble.gas {
  background-color: #fb378d;
}
.alkali-metal {
background-color: #f75b29;
}
.alkaline-earth-metal {
background-color: #0a79e8;
}
.metalloid {
background-color: #e43273;
}
.non-metal {
background-color: #2bf0d8;
}
.post-transition-metal {
background-color: #7f2b9b;
}
.transition-metal {
background-color: #d61c43;
}
.lanthanide {
background-color: #43ca1e;
}
.actinide {
background-color: #8e31c7
}
