@media (max-width: 1600px) {
  td .mass {
    bottom: 4px;
  }
}
@media (max-width: 1200px) {
  #details .detail {
    margin-bottom: 1vw;
    line-height: .8vw;
  }
  td .symbol-mass {
    bottom: 5px;

  }

  td {
    height: 4.6vw;
    width: 4.6vw;
  }
}
