
        body {
            font-family: 'Rubik', sans-serif;
            background: linear-gradient(to right, rgb(73, 155, 234) 0%, rgb(32,124, 229) 100%);
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        body * {
            color: white;
            cursor: default; /*celo vreme da e mousot pointer a ne kak selektor*/
        }

        .hide {
            border: none;
            background-image: none;
        }

           /* da zazematt divovite deskripcii celosno kockata a ne nekoj del samo */
        .width-height-full {
          height: 100%;
          width: 100%;
        }

        table {
            border-collapse: collapse;  /*	Borders are collapsed into a single border when possible */
            margin: 0 auto; /* The CSS margin properties are used to create space around elements. If the margin property has three values: top=172px, left and right = auto, bottom = 0 */
        }

        table[id="main-table"] {
          margin-top: 24px;
        }

        table[id="bottom-table"] {
          margin-top: 18px;
          margin-bottom: 60px;
        }

        td {
            width: 4vw;
            height: 4vw;
            border: 3px solid white;
            background-image: url("bg.png");
            background-size: cover; /*Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
        }

        td:hower {
                animation: zoomIn 500ms;

}

        td * {
            color: white;
        }

        td .td-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }

        td .atom-number {
            height: 15%;
            padding: .2vw 0 0 .2vw;
            font-size: .64vw;
        }

        td .symbol-mass-container {
            height: 85%;
            display: flex;   /*The Flexible Box Layout Module, makes it easier to design flexible responsive layout structure without using float or positioning.*/
            flex-direction: column;  /*The column value stacks the flex items vertically*/
            justify-content: space-around; /*The justify-content property aligns the flexible container's items when the items do not use all available space on the main-axis (horizontally). /space-around	Items are positioned with space before, between, and after the lines*/
            align-items: center;  /*The align-items property specifies the default alignment for items inside the flexible container./	center - Items are positioned at the center of the container*/
            position: relative;
            bottom: 5px;
        }

        td .symbol {
            font-weight: 400;
            font-size: 1.6vw;
            position: relative;
            top: 1px;
        }

        td .mass {
            font-size: .7vw;
            position: relative;
            bottom: 8px;
        }


        #symbol {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #symbol h1 {
          font-size: 7vw;
          margin: 0;
        }

       #details .detail {
         margin-bottom: .4vw;
       }

       #details .detail-title {
         font-size: 1.1vw;
         font-weight: 500;
         display: inline;
       }

       #details .detail-text {
         font-size: .9vw;
         font-weight: 300;
         display: inline;
       }

       #information {
         display: flex;
         flex-direction: column;
         justify-content: center;
       }

       #information .info-piece {
         width: 96%;
         margin-bottom: .7vw;
       }

       #information .info-piece-title {
         font-size: 1.14vw;
         font-weight: 500;
       }

       #information .info-piece-text {
         font-size: .8vw;
         font-weight: 300;
       }
