#body {
background-color: black;
color: white;}
        h1 {
        color: yellow;
        text-align: center;
        }

                h2 {
                  color: red;
                }
                p {
                    color: yellow;
                }

