
div#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: orange;
}
div#header h1 {
  font-family: serif;
  margin-left: 3%;
}
div#header img {
  float: left;
  margin: 1% 0 1% 1%;
}
div#leftSide {
  width: 31%;
  float: left;
  margin: 1% auto 0 0;
}
div#leftSide img {
 width: 30%; 
  clear: both;
}
div#main {
    width: 66%;
  float: right;
}
div#main img {
  width: 65%;
}
div.noFloat {
  clear: both;
}
