ul {
  list-style-type: square;
}
p {
  font-size: 2em;
}  

#headerBody {
  background-color: navyBlue;
}
#allBody {
  background-color: gray;
  color: white;
}
#footherBody {
  background-color: silver;
}
.black {
  color: black;
  text-align: center;
}
p.silver {
  color: silver;
}
div#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: orange;
}
div#header img {
  float: left;
  margin: 1% 0 1% 1%;
}
