@media (max-width: 991px) {
  .caracter-card {
    min-height: 500px;
    margin: 90px 0 50px 0;
    position: relative;
  }
  .caracter-card a {
    padding: 8px 15px;
    font-size: 12px;
    display: block;
    position: absolute;
    top: 97%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .caracter-card {
    padding: 30px 10px;
    min-height: 0;
    margin: 10px 2px;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(0,0,0,.3);
  }

  .caracter-card a {
    display: inline-block;
    position: static;
    transform: none;
    width: inherit;
  }
}
