/* Hide scrollbar for IE and Edge */
html,
body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  height: 100%;
  max-width: 100%;
  font-family: "Poller One", cursive;
  scrollbar-width: none;
  /* font-family: 'Muli', sans-serif; */
}
p {
  font-family: "Muli", sans-serif;
}
/*===== HEADER =====*/

.header {
  position: relative;
  text-transform: uppercase;
  color: #d6d6d6;
  height: 100%;
  background-image: url("../img/GL.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.header-content {
  border-radius: 10px;
  padding: 30px 10px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 39%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header h1 {
  font-weight: 900;
  color: #edca3f;
  -webkit-text-stroke: 1px #edca3f;
  -webkit-text-fill-color: black;
  width: 100%;
  font-size: 90px;
  margin: 0;
}
.header p {
  font-family: "Poller One", cursive;
  color: #d6d6d6;
  margin: 0;
  font-size: 35px;
  margin: 0 0 40px;
}
.header p span {
  color: #edca3f;
  -webkit-text-stroke: 1px #edca3f;
  -webkit-text-fill-color: black;
}

.btn {
  color: #d6d6d6;
  text-decoration: none;
  background: #0d0d0d;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: box-shadow 1s ease-in-out;
  outline: none;
  z-index: 9999;
}

.btn:hover,
.btn:focus {
  box-shadow: inset 200px 0 5px 0 rgba(244, 23, 52, 1);
}

/*navbar*/
.navbar {
  /* position: absolute;
  top: 2%;
  right: 1%; */
  padding-top: 20px;
  overflow: hidden;
  overflow-x: scroll;
}
.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}
.navbar li {
  display: inline-block;
  position: relative;
  padding: 0 15px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 5px;
  transition: all 0.31s ease-in-out;
}
.navbar a:hover {
  -webkit-text-stroke: 1px #edca3f;
  -webkit-text-fill-color: black;
}
/*navbar end*/
/*===== HEADER END =====*/

/*===== MAIN =====*/
/*== Section-Title ==*/
.section-title {
  text-align: center;
  margin: 0;
}
.section-title h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.section-title h2:after {
  content: "";
  margin: 10px auto 20px auto;
  position: relative;
  display: block;
  width: 150px;
  height: 5px;
  border: 2px solid #edca3f;
  border-radius: 10px;
  background-color: black;
}
.section-title p {
  margin: 0;
  font-size: 20px;
  font-size: 700;
}
/*== Section-Title END ==*/
/*== About ==*/
.about-card {
  margin-top: 50px;
  width: 100%;
  height: ;
  :500px ;
  position: relative;
}
.about-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 20px 1px black;
}
.about-card p {
}
.last-info {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  padding: 10px;
  margin: 30px 0 0;
}
/*== About END==*/
/*== movies ==*/
.movie-card {
  margin-top: 80px;
}
.movie-card h4 {
  width: 300px;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
  font-size: 21px;
  text-align: left;
  margin: 0 0 10px;
  letter-spacing: 0px;
  margin: 0 auto 10px;
}
.movie-card span {
  display: block;
}
.movie-card span:first-child {
  font-family: "Poller One", cursive;
  text-align: left;
  letter-spacing: 0;
  font-size: 32px;
}
.movie-card span:nth-child(2) {
  text-decoration: underline overline;
  letter-spacing: 4px;
  word-spacing: 0.8em;
  font-weight: 700;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.movie-card img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 20px 1px black;
}
.movie-card p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.movie-card a {
  margin: 0 auto;
  width: 180px;
  display: block;
  padding: 8px 0;
}
/*== movies END==*/

/*== Caracters ==*/
.caracters,
.movies,
.about,
.testimonials {
  background: #d6d6d6;
  padding: 50px 0 20px;
  text-align: center;
}
.caracter-card {
  min-height: 400px;
  margin: 60px 0 35px 0;
  position: relative;
}
.caracter-card img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.7);
}
.caracter-card h4 {
  text-transform: uppercase;
}
.caracter-card h4 span {
  display: block;
  font-size: 0.8em;
}
.caracters p {
  margin-bottom: 25px;
}

.caracter-card a {
  padding: 8px 15px;

  color: #f41734;
  color: #d6d6d6;
  font-size: 12px;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.caracter-card a:hover {
  color: black;
}

/*== Caracters END ==*/
/*== paralax == */
.parallax {
  margin: 0;
  padding: 0;
  background-color: #d6d6d6;
  background-image: url("../img/caracters.jpg");
  height: 550px;
  background-attachment: fixed;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
/*== paralax END== */
/*== testimonial == */
.testimonials {
  background: #d6d6d6;
  padding: 35px 0 30px;
  text-align: center;
}
.testimonial-card {
  position: relative;
}
.testimonial-card img {
  position: absolute;
  left: 0;
  width: 100px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.7);
}
.testimonial-info {
  padding-left: 115px;
}

.testimonial-info h4 {
  text-transform: uppercase;
}
.testimonial-info h4 span {
  display: block;
  font-size: 0.8em;
}
.testimonial-info p {
  font-style: italic;
  margin-bottom: 25px;
}

/*== testimonial END == */
/*===== MAIN END=====*/

/*===== FOOTER =====*/
.footer {
  text-align: center;
  position: relative;
  height: 60px;
  background: #0d0d0d;
  color: #f2f2f2;
}
.footer p {
  width: 99%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.footer p span {
  color: #edca3f;
  -webkit-text-stroke: 1px #edca3f;
  -webkit-text-fill-color: black;
  text-transform: uppercase;
}
