/*=== Custom code ===*/
/*=== Header ===*/
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  /* background: #87509c; */
  background-color: #87509C;
  width: 100%;
  height: 100px;
  overflow: hidden;
  overflow-x: auto;
  display: table;
  text-align: right;
}

.navbar img {
  position: absolute;
  left: 5%;
  width: auto;
  height: 80px;
}
.navbar ul {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  list-style: none;
}
.navbar li {
  display: inline-block;

}
.navbar a {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.25s background-color ease-in-out;
}
.navbar ul li a:hover {
  background-color: #643A79;
}

/* section header */
.section-hero {
  text-align: center;
  height: calc(100% - 80px);
  width: 100%;
  background: #87509c;
  position: relative;

}
.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero-content h1 {
  padding: 0;
  margin: 0;
}

/*=== Main  ===*/

/* services */

.services {
  background: #17c2a4;
  color: #fff;
  text-align: center;
}
.section-title {
  width: 90%;
  margin: 0 auto;
}
.section-title h2 {
  letter-spacing: 5px;
  margin: 0;
}
.section-title h2:after {
  content: "";
  display: block;
  width: 10%;
  margin: 10px auto;
  border-bottom: solid #14a68c;
}

.service-card {
  min-height: 250px;
}

.service-img {
  width: 100%;
  height: auto;
}

.service-img img {
  max-width: 100%;
  height: auto;
}

/*=== Footer ===*/
footer {
  background: #344b8e;
  height: 100px;
  width: 100%;
  text-align: center;
  display: table;
}
.footer-nav {
  vertical-align: middle;
  display: table-cell;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
}
.footer-nav li {
  display: inline-block;
}
.footer-nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 15px;
}
