/*=== Custom code ===*/
/*=== Header ===*/
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family:"Titillium Web", sans-serif;
}

.navbar {
  /* background: #87509c; */
  background-color: #87509c;
  width: 100%;
  height: 100px;
  overflow: hidden;
  overflow-x: auto;
  display: table;
  text-align: right;
  position: relative;
}

.navbar img {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 80px;
}
.navbar ul {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  list-style: none;
  position: relative;
  right: 50px;
}
.navbar li {
  display: inline-block;
}
.navbar a {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.25s background-color ease-in-out;
}
.navbar ul li a:hover {
  background-color: #643a79;
}

/* section header */
.section-hero {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: #87509c;
  height: calc(550px - 100px);
}
.hero-content {
  height: inherit;
  height: calc(550px - 200px);
  display: table-cell;
  vertical-align: middle;
}
.hero-content h1 {
  font-weight: 700;
  color: #fff;
  padding: 0;
  margin-bottom: 80px;
}

.btn {
  color: #fff;
  text-decoration: none;
  background: #eb7d4b;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 5px outset #c86a40;
  border-radius: 5px;
}

/*=== Main  ===*/

/* services */

.services {
  padding: 80px 0;
  background: #17c2a4;
  color: #fff;
  text-align: center;
}
.section-title {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.section-title h2 {
  letter-spacing: 5px;
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
}
.section-title h2:after {
  content: "";
  display: block;
  width: 10%;
  margin: 10px auto;
  border-bottom: solid #cadbe7;
}
.section-title p {
  width: 50%;
  margin: 0 auto;
  line-height: 25px;
}

.service-card {
  min-height: 250px;
}
.service-card h3 {
  text-transform: uppercase;
}
.service-card p {
  line-height: 25px;
}

.service-img {
  padding: 20px 0;
  position: relative;
}

.service-img img {
  width: auto;
  height: 90px;
}

/* team */
.team {
  padding: 80px 0;
  background: #e7f1f8;
  color: #000;
  text-align: center;
}
.team-card {
  padding-bottom: 40px;
}
.team-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.team-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.team-card h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
}
.team-card h4 {
  font-weight: 300;
  color: #7BD1EE;
  padding: 0;
  margin: 0;
}
.team-icons {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.team-icons ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.team-icons li {
  display: inline-block;
  margin-left: 10px;
}
.team-icons li a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #BDD1DF;
  border-radius: 50%;
  line-height: 25px;
}
.team-icons i {
  color: white;
}

/*=== Footer ===*/
footer {
  background: #344b8e;
  height: 100px;
  width: 100%;
  text-align: center;
  display: table;
}
.footer-nav {
  vertical-align: middle;
  display: table-cell;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
}
.footer-nav li {
  display: inline-block;
}
.footer-nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 15px;
}
