/*=== Custom code ===*/
/*=== Header ===*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.navbar {
  /* background: #87509c; */
  background-color: #87509c;
  width: 100%;
  height: 100px;
  overflow: hidden;
  overflow-x: auto;
  display: table;
  text-align: right;
  position: relative;
  table-layout: auto;
}

.navbar img {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 80px;
  height: auto;
}
.navbar ul {
  width: 100%;
  display: table;
  vertical-align: middle;
  white-space: wrap;
  list-style: none;
  position: relative;
  right: 5%;
}
@media (max-width: 491px) {
  .navbar ul {
    text-align: center;
    right: auto;
    padding: 0;
  }
  .navbar img {
    padding: 0;
    margin: -10px 0 -30px 0;
    display: block;
    position: relative;
    left: 50%;
    top: none;
    transform: translateX(-50%);
    max-width: 80px;
    height: auto;
  }
}
.navbar li {
  display: inline-block;
}
.navbar a {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.25s background-color ease-in-out;
}
.navbar ul li a:hover {
  background-color: #643a79;
}

/* section header */
.section-hero {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: #87509c;
  height: calc(550px - 100px);
}
.hero-content {
  height: inherit;
  height: calc(550px - 200px);
  display: table-cell;
  vertical-align: middle;
}
.hero-content h1 {
  font-weight: 700;
  color: #fff;
  padding: 0;
  margin-bottom: 80px;
}

.btn {
  color: #fff;
  text-decoration: none;
  background: #eb7d4b;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 5px outset #c86a40;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  opacity: 0.7;
}
.btn:hover,
.btn:focus {
  opacity: 1;
}

/*=== Main  ===*/

/* services */

.services {
  padding: 80px 0;
  background: #17c2a4;
  color: #fff;
  text-align: center;
}
.section-title {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
}
.section-title h2 {
  letter-spacing: 5px;
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
}
.section-title h2:after {
  content: "";
  display: block;
  width: 10%;
  margin: 10px auto;
  border-bottom: solid #cadbe7;
}
.section-title p {
  width: 50%;
  margin: 0 auto;
  line-height: 25px;
}

@media (max-width:768px){
.section-title p {
    width: 100%;
  }
}

.service-card {
  min-height: 250px;
}
.service-card h3 {
  text-transform: uppercase;
}
.service-card p {
  line-height: 25px;
}

.service-img {
  padding: 20px 0;
  position: relative;
}

.service-img img {
  width: auto;
  height: 90px;
}

/* team */
.team {
  padding: 100px 0;
  background: #e7f1f8;
  color: #000;
  text-align: center;
}
.team-card {
  min-height: 420px;
  position: relative;
}

.team-img {
  max-width: 150px;
  height: auto;
  margin: 0 auto;
}
.team-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.team-card h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
}
.team-card h4 {
  font-weight: 300;
  color: #7bd1ee;
  padding: 0;
  margin: 0;
}
.team-icons {
  text-align: center;
  width: 99%;
  padding: 0;
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 0;
}
@media (max-width:768px) {
  .team-icons {
    position: static;
  }
}

@media (min-width:768px) {
  .team-icons {
    bottom: 15%;
  }
}
@media (min-width:992px) {
  .team-icons {
    bottom: 2%;
  }
}

@media (min-width:1200px) {
  .team-icons {
bottom: 10%;
  }
}


.team-icons li {
  display: inline-block;
  margin: 0 5px;
}
.team-icons li a {
  display: inline-block;
  width: 25px;
  height: auto;
  background-color: #bdd1df;
  border-radius: 50%;
  line-height: 25px;
}
.team-icons i {
  color: white;
}

/* Portfolio */
.portfolio {
  padding: 100px 0 125px;
  background: #ffdd99;
  color: #4a4741;
  text-align: center;
}
.portfolio-content {
  padding-bottom: 20px;
}
.portfolio-card {
  padding-bottom: 40px;
}
.portfolio-card h3 {
  text-transform: uppercase;
}
.portfolio-img {
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}
.portfolio-img img {
  max-width: 100%;
  height: auto;
}
.portfolio-btn {
  background: #17c2a4;
  border-bottom: 5px outset #15ab91;
}

/* testemonials*/
.testimonials {
  padding: 100px 0 25px;
  background: #d74680;
  color: #fff;
}

.testimonials-card {
  position: relative;
  min-height: 200px;
}

.testimonials-card img {
  position: absolute;
  border-radius: 50%;
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}
.testimonials-info {
  margin-left: 115px;
}
.testimonials-card p {
  font-style: italic;
}
.testimonials-card footer {
  font-weight: 700;
  text-transform: uppercase;
}
.testimonials-card span {
  display: block;
  font-size: 16px;
  margin-right: 15px;
  color: #f2ad91;
  text-transform: none;
}

@media (max-width: 500px) {
  .testimonials-card {
    text-align: center;
    padding-bottom: 30px;
  }
  .testimonials-card img {
    display: block;
    position: relative;
    margin: 0 auto;
  }
  .testimonials-info {
    margin-left: 0;
  }
}

/* Contact */
.contact {
  padding: 100px 0 100px;
  background: #3c5499;
  color: #fff;
  text-align: center;
}
.contact-content {
}
.contact-card {
  padding-bottom: 20px;
}
.contact-card input {
  width: 100%;
  padding: 10px 0;
  background: #273a71;
  border: none;
}
.contact-card textarea {
  width: 100%;
  background: #273a71;
  border: none;
  padding-top: 10px;
}
.contact-card input::placeholder,
.contact-card textarea::placeholder {
  color: #fff;
  padding-left: 20px;
}

.contact-btn {
  display: inline-block;
  margin-top: 40px;
  background: #30bae7;
  border-bottom: 5px outset #2aa2ca;
}

/*=== Footer ===*/
.footer {
  background: #344b8e;
  width: 100%;
  text-align: center;
  
}
.socials {
  position: relative;
  height: 100px;
}
.footer-nav {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  list-style: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.footer-nav li {
  display: inline-block;
}
.footer-nav a {
  font-size: 20px;
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 25px;
  transition: color 0.25s ease-in-out;
}
.footer-nav a:hover {
  color: #31a4d6;
}
@media (max-width: 475px) {
  .footer-nav a {
    font-size: 16px;
    margin: 5px 10px;
  }
}
.footer p {
  padding: 10px 0;
  margin: 0;
  background: #273A71;

color: #a0aec0;
}
.footer p span {
  color: #EDCA3F;
  font-size: 18px;
}